@import url(/base.css);

body {
  display: grid;
  grid-template-rows: 10rem 2rem auto 2rem;
}

/*===============*\
    H E A D E R
\*===============*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  display: flex;
}

header form {
  display: flex;
}

/*===========*\
    M E N U
\*===========*/

body > nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-evenly;
}

/*===========*\
    M A I N
\*===========*/

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

article {
  display: flex;
  flex-direction: column;
}

article p.description {
  flex-grow: 1;
}

/*===============*\
    F O O T E R
\*===============*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 600px) {
  body {
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-columns: 10rem 1fr;
  }

  header,
  footer {
    grid-column: span 2;
  }

  /* HEADER */
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* MENÚ */
  body > nav ul {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* FOOTER */
  footer {
    justify-content: center;
    gap: 2rem;
  }
}
